<app-header title="Nueva Publicación" backButton="/auth"></app-header>

<ion-content>
  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form">

      <img class="logo" src="../../../../assets/icon/logo-blanco.png" alt="">

      <!--TITLE-->
      <app-custom-input
      autocomplete="title"
      icon="person-outline"
      [control]="form.controls.title"
      color="dark"
      type="text"
      label="Titulo"
    ></app-custom-input>

    <div class="validators" *ngIf="form.controls.title.errors && form.controls.title.touched">
      <div *ngIf="form.controls.title.errors?.['required']">El titulo es requerido</div>
      <div *ngIf="form.controls.title.errors?.['minlength']">Minimo 4 caracteres</div>
    </div>

    <!--COMENTARIO-->
      <app-custom-input
        icon="mail-outline"
        [control]="form.controls.comentario"
        type="text"
        label="Correo"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.comentario.errors && form.controls.comentario.touched">
        <div *ngIf="form.controls.comentario.errors?.['required']">El comentario es requerido</div>
      </div>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Registrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>

    </form>

  </div>
</ion-content>
