<!--app/components/nuevaPublicacion/nuevaPublicacion.component.html-->
<app-header [isModal]="true" [title]="publicacion ? 'Actualizar Publicacion' : 'Agregar Publicacion'"></app-header>

<ion-content>
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
    <br />

    <!--TOMAR O SELECCIONAR UNA IMAGEN-->
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
      Tomar/Seleccionar
    </ion-button>

    <!--TITULO-->
    <app-custom-input autocomplete="title" [control]="form.controls.title" type="text"
      label="Titulo"></app-custom-input>

    <div class="validators" *ngIf="form.controls.title.errors && form.controls.title.touched">
      <div *ngIf="form.controls.title.errors?.['required']">
        El titulo es requerido
      </div>
      <div *ngIf="form.controls.title.errors?.['minlength']">
        Minimo de 4 caracteres
      </div>
    </div>

    <!--COMENTARIO-->
    <app-custom-input [control]="form.controls.comentario" type="text" label="Comentario"></app-custom-input>

    <div class="validators" *ngIf="
        form.controls.comentario.errors && form.controls.comentario.touched
      ">
      <div *ngIf="form.controls.comentario.errors?.['required']">
        Este campo es requerido
      </div>
      <div *ngIf="form.controls.comentario.errors?.['minlength']">
        Minimo de 6 caracteres
      </div>
    </div>

    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{ publicacion ? "Actualizar Publicacion" : "Agregar Publicacion" }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
