ion-card{
    gap: 100px;
    padding: 20px 0;
    border-radius: 15px;
    background-color: rgb(61, 61, 61);
}

ion-content{
    padding-bottom: 70px;
}

.image-header{
    margin: 1em;
    width: 100%;
}

.añadir{
    background-color: rgb(61, 61, 61);
    border-radius: 50%;
    padding: 0.7em;
}

.flecha{
    font-size: 2em;
    margin: 0 0.3em;
    padding: 0;
    color: rgb(61, 61, 61);
}

.image-publicacion{
  margin: auto 10px;
  width: 50%;
  float: left;

}
.title-publicacion{
  color: rgb(204, 200, 200);
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}

