<app-header [showMenu]="true" title="G A L E R I A"></app-header>


<ion-content>
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
    <br />

    <!--TOMAR O SELECCIONAR UNA IMAGEN-->
    <ion-button mode="ios" size="small" shape="round">
      Tomar/Seleccionar
    </ion-button>

    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{ galeria ? "Actualizar Publicacion" : "Agregar Publicacion" }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
