ion-datetime{
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  background:rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 0;
}

.container{
  background-color: #585555;
  color: white;
}

app-calendar{
  ion-content {
    --background: rgb(255, 255, 255) url('../../../../assets/img/fondo-color.png') no-repeat center center / cover fixed;
    opacity: 0.6;
    .calendario{
      background-color: rgb(236, 122, 29);
      margin: 0 2em;
    }
  }
}
