<app-header [showMenu]="true" title="I N I C I O"></app-header>


<ion-content [fullscreen]="true">
  <img class="portada" src="../../../../assets/img/people-43575_1920.png" alt="">
  <div>
    <ion-text color="primary">
      <h3>¡Bienvenido a nuestra red social de cooperativas!</h3>

        <h5>Estamos emocionados de tenerte aquí, donde las cooperativas de todo el mundo se unen para compartir ideas,
        experiencias y oportunidades. Aquí, puedes conectar con otras cooperativas, aprender de sus éxitos y desafíos, y
        descubrir nuevas formas de colaborar para un futuro más sostenible y equitativo.

        Nuestra comunidad valora la colaboración, la democracia, la equidad y la solidaridad. Creemos que juntos,
        podemos hacer un cambio positivo en nuestras comunidades y en el mundo.

        Ya sea que estés aquí para buscar inspiración, compartir tus logros, o simplemente para conocer a otros que
        comparten tus valores, estamos seguros de que encontrarás lo que buscas en nuestra red social de cooperativas.

        ¡Adelante, explora, conecta y colabora! ¡Estamos emocionados de ver lo que lograremos juntos!

        ¡Bienvenido a bordo! </h5>
    </ion-text>
  </div>

</ion-content>
