.portada{
  width: 90%;
  margin: 0.8em auto;
  display: block;
}

ion-text{
  text-align: center;
  margin: 0 1em;
  h3{
    text-shadow: 0 0 2px #d015d6;
  }
  h5{
    padding: 1em;
    text-shadow: 0 0 1px #11f742;

  }
}
