<app-header [showMenu]="true" title="Sobre Nosotros"></app-header>


<ion-content>
  <div>
    <img src="../../../assets/img/sobre-nosotros.jpg" alt="">
  </div>
  <div class="text">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit praesentium placeat dolor temporibus
      necessitatibus, quibusdam ab, sunt quo tempora soluta illo cupiditate! A dicta eius beatae nisi doloremque
      repellat neque?
      Iste, sequi natus voluptas facilis ducimus voluptatibus, beatae, itaque sed consectetur veniam ea dignissimos!
      Molestias in, laudantium, praesentium ex, unde aliquam impedit voluptas architecto dignissimos delectus quam
      laborum nam quas!
      Corporis dolore amet iure, quam sapiente inventore sint voluptatum provident impedit. Quidem impedit ad ullam
      voluptates expedita debitis adipisci nam blanditiis facere, deserunt iusto distinctio earum deleniti corrupti
      dolore doloremque?
      Vel placeat iure quisquam, minima velit beatae earum, repudiandae ducimus quo consequatur corporis non. Iure ex
      cum quos nobis exercitationem! Facere placeat eius esse veritatis debitis voluptate, sequi doloremque quam?
      Quod, accusantium veritatis adipisci quia excepturi aliquam doloribus, sequi id libero iure iste, consectetur
      distinctio et unde esse deserunt vitae nisi neque. Adipisci debitis nesciunt repellendus iste! Amet, consectetur
      nihil?
      </p>
  </div>
</ion-content>
